<div class="container mt-2">
  <div class="card">
    <h5 class="p-2">{{title}}</h5>
    <div class="input-group p-2">
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInputGrid" placeholder="Username" [(ngModel)]="username"
          (focus)="alertUser = false">
        <label for="floatingInputGrid">Ingrese el username</label>
      </div>
      <button type="button" class="btn btn-primary" (click)="irUser(true)">Buscar</button>
    </div>
    <div class="p-2">
      <div class="alert alert-danger" role="alert" *ngIf="alertUser">
        Ingrese un Username para ir a {{path}}
      </div>
    </div>

    <ul class="nav nav-tabs p-2">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user/{{username}}" routerLinkActive="active" (click)="irUser(false)">Usuario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/repo/{{username}}" routerLinkActive="active" (click)="irRepos()">Repositorio</a>
      </li>
    </ul>
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
